.main{
    background-color: #263238;
    color: #fff;
    height:100vh;
}
.rouder{
    width: 600px;
    border-radius: 20px;
    margin: 0 auto;
}
  .placeholderdd{
      position: absolute;
      height:100px;
      width: 100px;
      margin-top: -30px;
      margin-left: 8px;
      color: rgb(68, 68, 68);
      z-index: 1;
  }
  .placeholderff{
      position: relative;
      background-color: #ECEFF1;
  }
  input#ControlInput2 {
    padding-left: 36px;
}
input#exampleForm\.ControlTextarea1{
    padding-left: 36px;
}
.stylebtn{
    padding: 5px 20px;
    color: #fff;
    border: none;
    background-color: #0277BD;
    margin-left: 150px;

}